.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 4rem;
  text-align: center;
  margin: 60px 0 5px 0;
  font-family: var(--font-one);
  text-shadow: 3px 3px #00000049;

}

.container h1 #first {
  color: gray;
}

.container h1 #second {
  color: brown;
}

.container h1 #third {
  color: rgb(10, 33, 46);
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 1rem 0 0.8rem 0;
  font-size: 1.2rem;
  font-family: var(--font-two);
}

.score-board .score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

.msg-container #msg {
  font-size: 1rem;
  font-family: var(--font-two);
}

.choices {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  height: 70%;
  width: 100%;
}

.choice {
  position: absolute;
  height: 500px;
  width: 500px;
}

.choice img {
  object-fit: cover;
  border-radius: 30%;
}

.choice img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.choice #rock {
  height: 71%;
  width: 72%;
}

.choice #paper {
  height: 100%;
  width: 72%;
}

.choice #scissor {
  height: 88%;
  width: 92%;
}

#one {
  left: 190px;
  bottom: 10px;
}

#two {
  left: 37%;
  bottom: 0;
}

#three {
  right: 110px;
  bottom: 48px;
}
