.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  height: 100px;
  width: 55%;
  margin: 2rem 0 0 0;
}

.heading {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 1rem 0 0.4rem 0;
  font-size: 1.3rem;
  font-family: var(--font-style);
  font-weight: 600;
}

.score-board .score {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

.msg-container #msg {
  font-size: 1.1rem;
  font-family: var(--font-style);
  font-weight: 700;
}

.choices {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  height: 70%;
  width: 100%;
}

.choice {
  position: absolute;
  height: 500px;
  width: 500px;
}

.choice img {
  object-fit: cover;
  border-radius: 30%;
}

.choice img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.choice #rock {
  height: 71%;
  width: 72%;
}

.choice #paper {
  height: 100%;
  width: 72%;
}

.choice #scissor {
  height: 85%;
  width: 92%;
}

#one {
  left: 190px;
  bottom: 10px;
}

#two {
  left: 37%;
  bottom: 0;
}

#three {
  right: 110px;
  bottom: 48px;
}

.footer {
  position: absolute;
  left: 10px;
  bottom: 15px;
  rotate: 180deg;
  font-family: var(--font-style);
}

.footer p {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
