@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Rubik+Dirt&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --font-one: "Rubik Dirt", system-ui;
  --font-two: "Pixelify Sans", sans-serif;
}
